/*
styling center form*/
form {
  width: 50% !important;
  margin: 0 auto !important; }

.key, .where {
  display: inline-block; }

input {
  float: left !important; }

#page {
  color: #1F1641;
  background-color: #F49005; }

.jumbotron {
  background-color: #36688D !important; }

.content {
  background-color: #F18904 !important; }
