$orange-main: #F49005;
$blue-title: #098AE6;
$orange-title: #F18904;
$black:#1F1641;
$green: #63b966;
$row-white: #f2f2f2;
body {
    margin: 0;
    background: url('https://static.pexels.com/photos/220182/pexels-photo-220182.jpeg');
    background-size: 1440px;
    background-repeat: repeat;
    display: compact;
}

.search-form {
    padding: 10px 10px 10px 10px;
    margin: 0 auto;
    margin-top: 80px;
    margin-bottom: 40px;
    width: 500px;
    background: rgb(70, 61, 42);
    opacity: 0.8;
    box-shadow: 5px 5px 10px #444;
    border-radius: 10px ;
}

.key,
.where {
    display: inline-block;
    margin-top: 25px;
}
.where {
    width: 20%;
}

input {
    float: left !important;
}

.jumbotron {
    background-color: $blue-title !important;
    opacity: 0.6;
    font-size: 200%;
    color: #fff;
}

.btn-next {
    position: fixed;
    bottom: 0;
    right: 12px;
    z-index: 555;
    opacity: 0.6;
}

.btn-go {
    display: inline-block;
    margin-top: 0px;
    margin-bottom: 25px;
}

.author {
    bottom: 0;
}

table {
    width: 100%;
    border-collapse: collaps;
    font-size: 1.2vw;
    opacity: 0.75;
}

th {
    border: 1px solid #000;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: $green;
    color: white;
    
}

td {
    background-color: $row-white;
}

th:hover {
    background-color: rgb(102, 43, 43);
}
.job-title {
    cursor:pointer;
}



@media screen and (max-width: 600px) {
    .search-form {
        width: 300px;
        height: 180px;
    }
    .where {
        width: 40%;
    }
  }