$orange-main: #F49005;
$orange-title: #F18904;
$black:#1F1641;
$green: #63b966;
$row-white: #f2f2f2;
body {
    margin: 0;
    background: url('https://static.pexels.com/photos/220182/pexels-photo-220182.jpeg');
    background-size: 1440px;
    background-repeat: repeat;
    display: compact;
}

.form-container {
    padding-top: 2.0em;
    padding-bottom: 2.0em;
    padding-left: 1.5em;
    padding-right: 1.5em;
    background: rgba(#463d2a, 0.8);
    width: 45%;
    margin: auto;
    margin-top: 4em;
    margin-bottom: 4em;
    border-radius: 1em;
}

.form-control.key {
    width: 60%;
}

.form-control.where {
    width: 20%;
}

.btn-go {
    width: 20%;
}

.btn-next {
    position: fixed;
    bottom: 0;
    right: 12px;
    z-index: 555;
    opacity: 0.6;
}

.table-result {
    margin-top: 2em;
    width: 100%;
    border-collapse: collaps;
    font-size: 1.5vw;
    opacity: 0.75;
}

th {
    padding-top: 1em;
    padding-bottom: 1em;
    text-align: center;
    background: rgba(#463d2a, 0.8);
    color: white;
}

td {
    background-color: $row-white;
}

th:hover {
    background-color: rgb(102, 43, 43);
}

a,
button,
.job-title {
    cursor: pointer;
}

.loading {
    display: inline-block;
    margin: auto;
    font-size: 2em;
}

@media screen and (max-width: 600px) {
    .form-container {
        width: 100%;
    }
    .form-control.key {
        width: 100%;
    }
    .form-control.where {
        width: 100%;
    }
    .btn-go {
        width: 100%;
    }
}

